= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      %ul
        - @classroom.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :image_top
    = f.text_field :image_top
  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :adress
    = f.text_area :adress
  .field
    = f.label :payment
    = f.text_area :payment
  .field
    = f.label :recommend
    = f.text_area :recommend
  .field
    = f.label :image_first
    = f.text_field :image_first
  .field
    = f.label :point_first
    = f.text_area :point_first
  .field
    = f.label :image_second
    = f.text_field :image_second
  .field
    = f.label :point_second
    = f.text_area :point_second
  .actions
    = f.submit 'Save'
