#main
  .top-head.content
  .left.float-left
    %ul
      %li
        = link_to 'ホーム', root_path    
      %li
        = link_to 'スポーツ' , classrooms_category_path
      %li
        = link_to 'マンガ' , classrooms_category_path
      %li
        = link_to '音楽' , classrooms_category_path
      %li
        = link_to '映画' , classrooms_category_path
      %li
        = link_to 'ガーデニング' , classrooms_category_path
      %li
        = link_to 'その他' , classrooms_category_path

  .center.float-left
    .head-style 教室のリスト
    .images
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company
      = link_to classrooms_path do
        .image
          .image-back
          %h2 class room
          %ul
            %li place
            %li price
            %li company


      .clear
  .right.float-left
    .head-style 人気の教室

    %ul.popular-class
      %li
        = link_to classrooms_path do
          ①アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ②アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ③アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ④アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ⑤アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      

  .clear