%h1 Listing classrooms

%table
  %thead
    %tr
      %th Category
      %th Image top
      %th Title
      %th Adress
      %th Payment
      %th Recommend
      %th Image first
      %th Point first
      %th Image second
      %th Point second
      %th
      %th
      %th

  %tbody
    - @classrooms.each do |classroom|
      %tr
        %td= classroom.category
        %td= classroom.image_top
        %td= classroom.title
        %td= classroom.adress
        %td= classroom.payment
        %td= classroom.recommend
        %td= classroom.image_first
        %td= classroom.point_first
        %td= classroom.image_second
        %td= classroom.point_second
        %td= link_to 'Show', classroom
        %td= link_to 'Edit', edit_classroom_path(classroom)
        %td= link_to 'Destroy', classroom, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Classroom', new_classroom_path
