#main
  .top-head.content
  .left.float-left
    %ul
      %li
        = link_to 'ホーム', root_path    
      %li
        = link_to 'スポーツ' , classrooms_category_path
      %li
        = link_to 'マンガ' , classrooms_category_path
      %li
        = link_to '音楽' , classrooms_category_path
      %li
        = link_to '映画' , classrooms_category_path
      %li
        = link_to 'ガーデニング' , classrooms_category_path
      %li
        = link_to 'その他' , classrooms_category_path
  .center.float-left
    .head-style 教室のリスト
    .images
      - @classrooms.each do |classroom|
        = link_to classroom do
          .image
            .image-back
            %h2
              = classroom.title
            %ul
              %li 
                = classroom.adress
              %li 
                = classroom.payment
              %li 
                company
      .clear
  .right.float-left
    .head-style おすすめの教室

    %ul.popular-class
      .popular-image
      %li
        = link_to classrooms_path do
          アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ②アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ③アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ④アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      %li
        = link_to classrooms_path do
          ⑤アクアリウム入門                                    
          = image_tag "aqua.jpg"
      .popular-image
      

  .clear