%p#notice= notice

%p
  %b Category:
  = @classroom.category
%p
  %b Image top:
  = @classroom.image_top
%p
  %b Title:
  = @classroom.title
%p
  %b Adress:
  = @classroom.adress
%p
  %b Payment:
  = @classroom.payment
%p
  %b Recommend:
  = @classroom.recommend
%p
  %b Image first:
  = @classroom.image_first
%p
  %b Point first:
  = @classroom.point_first
%p
  %b Image second:
  = @classroom.image_second
%p
  %b Point second:
  = @classroom.point_second

= link_to 'Edit', edit_classroom_path(@classroom)
\|
= link_to 'Back', classrooms_path
