/ main
#content
  .content-top    
    %h2
      = @classroom.title
    .main-header
      = @classroom.image_top
    .school
      .classname 
        = @classroom.title
      .clear
      %ul
        %li
          = @classroom.adress
        %li 
          = @classroom.payment

      = link_to reserve_new_path do
        %button 体験予約
    .clear

  .main-main.content
    %ul
      %li
        %h2 
          ☆こんな人におすすめ
        = @classroom.recommend

  .main-footer.content
    %h2 ☆魅力
    .attraction-top
      .attraction
        = @classroom.image_first
        %p
          = @classroom.point_first
      .attraction
        = @classroom.image_second
        %p
          = @classroom.point_second
      .clear
/ main end