%h1 Registrations#new

= form_for @user, url:registrations_path,method: :post do |f|
  =f.label :名前
  =f.text_field :name
  =f.label :メールアドレス
  =f.text_field :email
  = f.label :パスワード
  = f.password_field :password
  = f.label :パスワード確認
  = f.password_field :password_confermation
  =f.submit
  
