!!!
%html
  %head
    %title XHobbee
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body{class: "#{controller.controller_path + " " + controller.action_name}"}
  %body
    / header
    %nav#header
      %ul.content
        .float-left
          %ul
            %li
              = link_to image_tag('hobbee.png'),classrooms_path
        .float-right
          - if logged_in?
            %li 
              =link_to "教室登録", new_classrooms_path
            %li 
              =link_to image_tag("profile.png")
            %li 
              =link_to "ログアウト", sessions_path, method: :delete
          -else
            %li
              =link_to "新規登録", new_registrations_path 
            %li
              =link_to "ログイン", new_sessions_path 
        .clear
    / header end
    = yield


